<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/components.js"></script>
    <script src="js/app.js"></script>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css">	
  </head>
  <body ng-controller="carregaCarteiras">
	<h1>Frequent Flyer Program</h1>
  
    <tabs>
      <pane title="Carteira Pai">
		<div ng-controller="carteiraPai">
			<span>Esta é Carteira Principal<br>Todos as milhas irão vir desta carteira para as outras</span><br><br>
			<span>Total de Milhas da Carteira Pai: {{ carteiraPai | currency }}</span><br>
<!-- 
			<span>Total de Milhas da Carteira Pai Nova: {{ carteiraPaiNova | currency }}</span><br>
			<span>Total de Milhas da Carteira Pai Real: {{ data.carteiras.pai | currency }}</span><br>
-->
		</div>
		<hr>
		
		<form name="formEnvia">
			<span>Envia recursos para as outras carteiras</span> <br><br>
<!-- 			<div class="control-group">
				<label>Enviar quantas milhas? (Digitar múltiplos de 100)</label>
				<input type="number" name="qtd" placeholder="12345" required ng-model="milha.qtd" >
				<span ng-show="enviaMilhasForm.qtd.$error.required && !enviaMilhasForm.qtd.$pristine" class="help-inline">Required {{enviaMilhasForm.qtd.$pristine}}</span>
			</div>
			
			<div class="control-group">
				<label>Enviar para qual carteira?</label>
				<select name="destino" required ng-model="milha.destino">
					<option ng-repeat="x in carteiras" value="{{x.valor}}">{{x.nome}}</option>
				</select>				
				<span ng-show="enviaMilhasForm.destino.$error.required && !enviaMilhasForm.destino.$pristine" class="help-inline">Required</span>
			</div> -->
			<button ng-click="enviaMilhas(milha)" ng-disabled="enviaMilhasForm.$invalid" class="btn btn-primary">Envia Milhas</button>
<!-- 			<button ng-click="reset()" class="btn btn-primary">Reset</button> -->
		</form>
		
		<pre>Ao pressionar em Envia Milhas, será sorteado um dos 2 filhos e será créditado 100 ou 200 Milhas</pre>
<!-- 		
		<pre> milha = {{ milha | json }}</pre>
		<pre> ultimaMilha = {{ master | json }}</pre>
	 -->	
      </pane>
      <pane title="Carteira Filho 1">	  
		<div ng-controller="carteiraFilho1">		
			<span>Esta é Carteira Filho 1<br>Pode apenas receber recursos da carteira Pai</span><br><br>
			<span>Total de Milhas da Carteira 1: {{ carteiraFilho1 | currency }}</span><br>
		</div>
      </pane>
	  <pane title="Carteira Filho 2">
        <div ng-controller="carteiraFilho2">
			<span>Esta é Carteira Filho 2<br>Pode apenas receber recursos da carteira Pai</span><br><br>
			<span>Total de Milhas da Carteira 2: {{ carteiraFilho2 | currency }}</span><br>
        </div>
      </pane>
    </tabs>
  </body>
</html>